[submodule "Assets/every-studio-library"]
	path = Assets/every-studio-library
	url = https://github.com/mainitiamai/every-studio-library
[submodule "Assets/00_game/alarm.Resources"]
	path = Assets/00_game/alarm.Resources
url=https://github.com/mainitiamai/alarm.Resources
[submodule "Assets/AssetBundleResource"]
	path = Assets/AssetBundleResource
url=https://github.com/mainitiamai/alarm.AssetBundleResource
